header{
   position: fixed;
   width: 100%;
   padding: 50px 0;
}


.header__nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

li{
   display: flex;
   column-gap: 60px;
   color: #E29578;
}


a.selected{
   color:rgba(86, 255, 164, 0.6);
}
