#slider {
   padding: 100px ;
   background-color: black;
}

h3 {
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
text-align: center;
color: #E29578;
}

